@import url("https://use.typekit.net/tis7nmt.css");
@import "tailwindcss";

body {
  font-family: "source-arabic-sans", sans-serif;
}

:root {
  --background-rgb: 241, 238, 205, 1;
  --light-orange-rgb: 229, 110, 83, 1;
  --light-black-rgb: 0, 0, 0, 0.1;
  --shade-background-rgb: 216, 214, 184, 255;
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateY(0) scaleY(1);
    }

    20% {
      transform: translateY(0) scaleY(1);
    }

    35% {
      transform: translateY(-14px);
    }

    55% {
      transform: translateY(-14px);
    }

    70% {
      transform: translateY(-14px) scale(0.5, 2.3);
      transform-origin: top;
    }

    80% {
      transform: translateY(-14px) scale(0.5, 2.3);
      transform-origin: top;
    }

    100% {
      transform: translateY(0) scaleY(1);
    }
  }

  .animate-scroll {
    animation: scroll 3s ease-in-out infinite;
  }

  .animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
  }
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.transition-mask {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 65vmin;
  aspect-ratio: 1;
  background: #ffffff;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  pointer-events: none;
  transform: scale(0);
}

.site-header,
.site-footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20000;
}

.transition-mask {
  z-index: 15000;
}

body.zooming .transition-mask {
  background: #ffffff;
}

.white-bg {
  background: #ffffff !important;
}




@theme {
  --color-light-orange: rgb(var(--light-orange-rgb));
  --color-background: rgb(var(--background-rgb));
  --color-light-black: rgb(var(--light-black-rgb));
  --color-shade-background: rgb(var(--shade-background-rgb));

  --default-font-family: "source-arabic-sans", sans-serif;
}